In [1]:
print("roshan")
print("this is the jupyter ")

roshan
this is the jupyter

In [6]:
import requests
from pathlib import Path
import tarfile
DOWNLOAD_ROOT = "https://raw.githubusercontent.com/ageron/handson-ml2/master/"
HOUSING_URL = DOWNLOAD_ROOT + "datasets/housing/housing.tgz"
def fetch_housing_data(url=HOUSING_URL, extract_to="datasets/housing"):
    path = Path(extract_to)
    path.mkdir(parents=True,exist_ok=True)
    tgz_path = path / "housing.tgz"
    print("Downloading dataset...")
    response = requests.get(url)
    response.raise_for_status()  
    tgz_path.write_bytes(response.content)
    print(f"Saved to {tgz_path}")
    print("Extracting dataset...")
    with tarfile.open(tgz_path) as housing_tgz:
        housing_tgz.extractall(path=path)
    print(f"Extracted to {path}")
    print("done")



fetch_housing_data()

Downloading dataset...
Saved to datasets/housing/housing.tgz
Extracting dataset...
Extracted to datasets/housing
done

In [3]:
# print("testing karnel")

In [7]:
import pandas as pd 
data=pd.read_csv("datasets/housing/housing.csv")
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [8]:
data.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

In [ ]:
data

In [ ]:
# importing the matplot for the ploting the graph 
import matplotlib.pyplot as plt
data.hist(bins=50, figsize=(20,15))
plt.show()